.footer{
    background-color: white;
    height: 500px;
    padding: 50px 0;
    &__wrapper{
        display: flex;
       justify-content: space-around;
    }
    &__card{
        max-width: 340px;
       }
}
.card__title{
    font-size: 24px;
    font-weight: 800;
    color:$bg-py;
    transition: .8s;
    &:hover{
        color: red;
        cursor: pointer;
    }
}
.one{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    transition: .8s;
    &:hover{
        color: blue;
cursor: pointer;
    }
}
.card__text{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    transition: .8s;
    &:hover{
        color: blue;
cursor: pointer;
    }
}
.one{
    margin-top: 10px;
    width: 80%;
    font-size: 16px;
    font-weight: 500;
}
.fa-brands{
    transition: 1s;
  &:hover{
    color: blue;
  }
}
