.sidebare{
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh;
    background-color: black;
    transition: .5s;
    left: -280px;
    color: wheat;
}

.sidebare.show{
    left: 0;
}









@media ( max-width:350px){
    .sidebare{
        width: 200px;
    }}


    
@media ( max-width:330px){
    .sidebare{
        width: 180px;
    }}